*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.container{
    display: flex;
}

.blue{
    background-color: #0ea5e9;
    height: 100vh;
    width: 20vw;
}
.white{
    background-color: white;
    height: 19vh;
    width: 80vw;
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1; /* Ensure the white box appears above the grey box */
    display: grid;
    /* grid-template: 50px 50px/650px 100px; */
    grid-template: 5vh 5vh/65vh 10vh;
    row-gap: 45px;
    column-gap: 200px;
    
    
}

input[type=text]{
    border-radius: 20px;
    background-color: #e5e7eb;
    border: none;
}
.searchbar{
    margin-left: 2vb;
    margin-top: 2vb;
    display: flex;
    /* gap: 20px; */
    gap: 2vb;
}
.morgan{
    margin-left: 2vb;
    margin-top: 1vb;
    display: flex;
    gap: 20px;
}

.three-buttons{
    
    margin-top: 2vb;
    display: flex;
    /* gap: 20px; */
    gap:2vb;
}

button{
    padding: 20px 40px;
    border-radius: 20px;
    background-color: #0ea5e9;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    border: none;
    font-weight: bold;
}

#icons{
    color: white;
    font-weight: bold;
}

#cat{
    border-radius: 50%;
}
.bell{
   
    margin-top: 2vb;
    display: flex;
    /* gap: 20px; */
    gap: 2vb;
}
.name-inline{
    display: flex;
    gap: 5px;
}


.grey{
    background-color: #e5e7eb;
    height: 81vh;
    position: relative; /* Ensure proper positioning */
    z-index: 0; 
    
}

.dash{
    display: flex;
    /* gap: 13px; */
    gap: 3vb;
    align-items: center;
}

.dash p{
    font-size: 20px;
}

.dashboard{
    display: flex;
    padding: 2vb;
    /* gap: 13px; */
    gap: 3vb;
    align-items: center;
}

.options{
    display: grid;
    /* row-gap: 30px; 
    column-gap: 8px;  */
    row-gap: 3vb; 
    column-gap: 3vb; 
    margin-left: 3vb;
}

.dash:nth-child(6){
    margin-bottom: 5vb;
}

.main-box{
    display:inline grid;
    /* grid-template: 100px 100px 100px 100px 100px 100px/100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px; */
    
    grid-template: 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 1vb /3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb 3vb ;
    
    /* background-color: lightblue; */
    margin-left: 3vb;
    /* row-gap: 20px;
    column-gap: 20px; */
    row-gap: 2vb;
    column-gap: 2vb;
    
}

/* .boxes{
    border: 1px solid;
    
} */

#supercool{
    grid-column: 1 / 12;
    grid-row: 1 / 6;
}

#lesscool{
    grid-column: 12/23;
    grid-row: 1 / 6;
}

#announcements{
    grid-column: 23/30;
    grid-row: 1 / 8;
}

#impossible{
    grid-column: 1 / 12;
    grid-row: 6/11;
}

#easy{
    grid-column: 12 / 23;
    grid-row: 6/11;
}

#adblocks{
    grid-column: 1 / 12;
    grid-row: 11/16;
}
#moneymaker{

    grid-column: 12 / 23;
    grid-row: 11/16;
}
#trending{
    grid-column: 23 / 30;
    grid-row: 8/16;
}

.boxes:nth-child(8){
    margin-top: 4vb;
    
}

.card{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    position: relative;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10px; 
    background-color: goldenrod; 
    border-radius: 20px 0 0 20px;
    /* z-index: 1; */
}
.card-announcement{
    width: 100%;
    height: 100%;
    background-color:white;
    border-radius: 20px;
}
.content{
    padding: 4vb;
    margin-right: 4vb;
}
.star-eye{
    display: flex;
    float: right;
    gap: 10px;
}
.heading{
    display: flex;
    /* gap: 50vb; */
}

#ann{
    position: absolute;
    top: 0.5vb;
    right: 36vb;
}

#tr{
    position: absolute;
    top: 39vb;
    right: 41vb;
}

.tweet{
    display: flex;
    /* padding: 20px; */
    margin-left: 3vb;
    padding-top: 2vb;
    gap: 15px;
}

.tweet-content{
    display: flex;
    flex-direction: column;
}

/* img{
    height: 30px;
    width: 30px;
} */